# -*- yaml -*-

---
BasedOnStyle:                                    WebKit
IndentWidth:                                     4
---
Language:                                        Cpp

AlignAfterOpenBracket:                           Align
AlignEscapedNewlines:                            Left
AlignOperands:                                   Align
AlignTrailingComments:                           true

AllowAllArgumentsOnNextLine:                     false
AllowAllConstructorInitializersOnNextLine:       true
AllowAllParametersOfDeclarationOnNextLine:       false
AllowShortLambdasOnASingleLine:                  All

AlwaysBreakTemplateDeclarations:                 Yes
IndentPPDirectives:                              BeforeHash

BraceWrapping:
  AfterEnum:                                     false
  AfterFunction:                                 true
  BeforeCatch:                                   true
  BeforeElse:                                    true
  BeforeLambdaBody:                              false
  SplitEmptyRecord:                              false
BreakBeforeBraces:                               Custom
BreakInheritanceList:                            BeforeComma

SpaceAfterTemplateKeyword:                       false
SpaceInEmptyBlock:                               false
NamespaceIndentation:                            None
FixNamespaceComments:                            true
Standard:                                        c++20
TabWidth:                                        4
UseTab:                                          AlignWithSpaces
...
