[submodule "inferno/vendor/glfw"]
	path = inferno/vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "inferno/vendor/glm"]
	path = inferno/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "inferno/vendor/json"]
	path = inferno/vendor/json
	url = https://github.com/nlohmann/json
[submodule "inferno/vendor/stb"]
	path = inferno/vendor/stb
	url = https://github.com/nothings/stb
[submodule "inferno/vendor/freetype"]
	path = inferno/vendor/freetype
	url = https://github.com/aseprite/freetype2
